<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.PjMaterialDataDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.PjMaterialData">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="sceneId" jdbcType="INTEGER" property="sceneId" />
        <result column="materialId" jdbcType="INTEGER" property="materialId" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="substanceCategory" jdbcType="VARCHAR" property="substanceCategory" />
        <result column="value" jdbcType="FLOAT" property="value" />
        <result column="unitId" jdbcType="INTEGER" property="unitId" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="year" jdbcType="INTEGER" property="year" />
        <result column="description" jdbcType="VARCHAR" property="description" />
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `pj_material_data` where id = #{pk}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `pj_material_data`
    </select>

    <insert id="insert" parameterType="com.zeng.ssm.model.PjEnvLoadFactor" useGeneratedKeys="true" keyProperty="id" >
        insert into  `pj_material_data` ( `title`)
        values (#{title,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.PjEnvLoadFactor">
        update `pj_material_data`
        set
            `title` = #{title,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from `pj_material_data` where id = #{pk,jdbcType=INTEGER}
    </delete>
</mapper>