<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.ssm.dao.PjNormalizedDao">
    <resultMap id="BaseResultMap" type="com.zeng.ssm.model.PjNormalized">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="method" jdbcType="VARCHAR" property="method" />
        <result column="value" jdbcType="FLOAT" property="value" />
        <result column="weight" jdbcType="FLOAT" property="weight" />
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT * from `pj_normalized` where id = #{pk}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * from `pj_normalized`
    </select>

    <insert id="insert" parameterType="com.zeng.ssm.model.PjNormalized" useGeneratedKeys="true" keyProperty="id" >
        insert into  `pj_normalized` ( `title`)
        values (#{title,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.zeng.ssm.model.PjNormalized">
        update `pj_normalized`
        set
            `title` = #{title,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from `pj_normalized` where id = #{pk,jdbcType=INTEGER}
    </delete>
</mapper>